<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
   {{>navbar}}

    <!-- main header -->
    <div class="container_fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                     <div class="col-md-6 col-12 main_header_left about_img">
                        
                            <img src="image/error.jpg" alt="" class="img_fluid">
                        
                    </div>

                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <h1> <span style="color: #0097e6;"> ERROR 404 </span></h1>
                        <h2><span style="color: #0097e6;"> Page Not Found </span>check again</h2>
                    </div>
                    <!-- right side div -->
                   
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>